[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

body {
  padding-top: 50px;
}

#logged-in-status { display: none; }
#logged-in-menu { display: none; }
#logged-out-menu { display: none; }
#logged-in-menu img { vertical-align: middle; }

#notification-list {
  min-width: 230px;
  max-width: 300px;
}

#notification-menu { border-left: 2px solid #333; display: none;  }
#notification-menu > a {
  padding: 10px 5px 9px;
}
#notification-status {
  background-color: #676767;
  display: inline-block;
  height: 21px;
  text-align: center;
  color: #999999;
  width: 21px;
  border-radius: 2px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 11px;
}

#notification-status.alert {
  background-color: #cc3c29;
  color: #ffffff;
}

.notification-list-item.btn {
  padding: 3px 10px;
}

.notification-list-item-message {
  font-size: 10pt;
}

.notification-list-item-action {
  display: block;
  margin-top: 5px;
  text-align: right;
}

.topbar a.user-icon { padding: 10px 10px 8px; border-left: 2px solid #333; }
.topbar a.login { padding: 10px 10px 10px; border-left: 2px solid #333; }
.topbar img.login { vertical-align: text-bottom; }

.user-icon img { height: 14px; border: 1px solid #999; padding: 2px; }

.edit{float:right;filter:alpha(opacity=10);-khtml-opacity:0.1;-moz-opacity:0.1;opacity:0.1;padding-right: 5px;}
.edit img{height:18px}
.edit:hover{filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.delete{float:right;filter:alpha(opacity=10);-khtml-opacity:0.1;-moz-opacity:0.1;opacity:0.1;padding-right: 5px;}
.delete img{height:18px}
.delete:hover{filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}

.board-head h4 { display: inline; cursor: pointer; }
.board-head img { 
  height: 13px; 
  padding-left: 5px; 
  
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.board-head input {
  width: 180px;
  line-height: 36px;
  display: none;
}

#share-user-list-icons {
  width: 310px;
  vertical-align: middle;
  overflow: visible;
  padding: 5px 5px 6px;
}

.share-user-list-icon {
  display: inline-block;
  border: 1px solid #057BAC;
  background: #1DA1D8;
  background: -moz-linear-gradient(top,#28AFE7,#1192C8);
  background: -o-linear-gradient(top,#28AFE7,#1192C8);
  background: -webkit-gradient(linear,left top,left bottom,from(#28AFE7),to(#1192C8));
  vertical-align: middle;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  margin-top: 2px;
  margin-right: 2px;
  line-height: 18px;
  padding: 2px;
}

.share-user-list-icon.accepted {
  background: #67AE3F;
  background: -moz-linear-gradient(top,#77BB4E,#57A02F);
  background: -o-linear-gradient(top,#77BB4E,#57A02F);
  background: -webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));
  border: 1px solid #3F980E;
}

.share-user-list-information {
  padding-left: 5px;
  overflow: visible;
  white-space: nowrap;
  color: #FFF;
}

.share-user-list-information > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 3px;
}

.dropdown:hover > ul {
  display: block;
}

table .task-type{width: 25%;}

table .black{color:#000;border-bottom-color:#000;}
table .task-type.black{background-color:#929292;}
table .task-type.blue{background-color:#ade6fe;}
table .task-type.green{background-color:#cdeacd;}
table .task-type.red{background-color:#f4c8c5;}
table .task-type.yellow{background-color:#fff6d9;}
table .task-type.orange{background-color:#fee9cc;}
table .task-type.purple{background-color:#e2d5f0;}

table .header::after{
  display: none;
}

table td.wall{vertical-align: top; background-color: #EEE;}
table td.wall.over{background-color: #CCC;}

.application-modal {display:none;}
.task-modal {display: none;}
.task-modal .input {margin-left: 0px}
.task-modal textarea {width:500px}

.task {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #fceec1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 215px;
}

.task.own {
  background-color: #edfdd9;
}

.task h5 {line-height: 18px;}
.task div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
  overflow: hidden;
}
.task .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.task .close {
  display: none;
  float: right;
  margin-top: -2px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.task:hover .close {
  display: block;
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.task p {margin-right: 30px;}
.task .task-actions {
  margin-top: 5px;
}
.task small {
  text-align: right;
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding-top: 2px;
  color: #BBBBBB;
}