[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.edit{float:right;filter:alpha(opacity=10);-khtml-opacity:0.1;-moz-opacity:0.1;opacity:0.1;padding-right: 5px;}
.edit img{height:18px}
.edit:hover{filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.delete{float:right;filter:alpha(opacity=10);-khtml-opacity:0.1;-moz-opacity:0.1;opacity:0.1;padding-right: 5px;}
.delete img{height:18px}
.delete:hover{filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}

body {
  padding-top: 50px;
}

table .task-type{width: 25%;}

table .black{color:#000;border-bottom-color:#000;}
table .task-type.black{background-color:#929292;}
table .task-type.blue{background-color:#ade6fe;}
table .task-type.green{background-color:#cdeacd;}
table .task-type.red{background-color:#f4c8c5;}
table .task-type.yellow{background-color:#fff6d9;}
table .task-type.orange{background-color:#fee9cc;}
table .task-type.purple{background-color:#e2d5f0;}

table td.wall{vertical-align: top; background-color: #EEE;}
table td.wall.over{background-color: #CCC;}

.application-modal {display:none;}
.task-modal {display: none;}
.task-modal .input {margin-left: 0px}
.task-modal textarea {width:500px}

.task {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #fceec1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: move;
}
.task h5 {line-height: 18px;}
.task div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}
.task .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.task .close {
  display: none;
  float: right;
  margin-top: -2px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.task:hover .close {
  display: block;
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.task p {margin-right: 30px;}
.task .task-actions {
  margin-top: 5px;
}
.task small {
  text-align: right;
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding-top: 10px;
  color: #BDBDBD;
}