[draggable] {
  user-select: none;
  cursor: move;
}

body {
  padding-top: 50px;
}

ul.user-menu {
  list-style: none;
}

#logged-in-status { display: none; }
#logged-in-menu { display: none; }
#logged-out-menu { display: none; }
#logged-in-menu img { vertical-align: middle; }

#notification-list {
  min-width: 230px;
  max-width: 300px;
}

#notification-menu { border-left: 2px solid #333; display: none;  }
#notification-menu > a {
  padding: 10px 5px 9px;
}
#notification-status {
  background-color: #676767;
  display: inline-block;
  height: 21px;
  text-align: center;
  color: #999999;
  width: 21px;
  border-radius: 2px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 11px;
}

#notification-status.alert {
  background-color: #cc3c29;
  color: #ffffff;
}

.notification-list-item.btn {
  padding: 3px 10px;
}

.notification-list-item-message {
  font-size: 10pt;
}

.notification-list-item-action {
  display: block;
  margin-top: 5px;
  text-align: right;
}

.topbar a.user-icon { padding: 10px 10px 8px; border-left: 2px solid #333; }
.topbar a.login { padding: 10px 10px 10px; border-left: 2px solid #333; }
.topbar img.login { vertical-align: text-bottom; }

.user-icon img { height: 14px; border: 1px solid #999; padding: 2px; }

.edit{float:right;filter:alpha(opacity=10);opacity:0.1;padding-right: 5px;}
.edit img{height:18px}
.edit:hover{filter:alpha(opacity=40);opacity:0.4;}
.delete{float:right;filter:alpha(opacity=10);opacity:0.1;padding-right: 5px;}
.delete img{height:18px}
.delete:hover{filter:alpha(opacity=40);opacity:0.4;}

.project-head h2, .iteration-head h4 { display: inline; cursor: pointer; }
.project-head img, .iteration-head img { 
  height: 13px; 
  padding-left: 5px; 
  display: none;
  
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.project-head:hover img, .iteration-head:hover img {
  display: inline;
}

#share-user-list-icons {
  width: 310px;
  vertical-align: middle;
  overflow: visible;
  padding: 5px 5px 6px;
}

.share-user-list-icon {
  display: inline-block;
  border: 1px solid #057BAC;
  background: #1DA1D8;
  background: -moz-linear-gradient(top,#28AFE7,#1192C8);
  background: -o-linear-gradient(top,#28AFE7,#1192C8);
  background: -webkit-gradient(linear,left top,left bottom,from(#28AFE7),to(#1192C8));
  vertical-align: middle;
  
  border-radius: 3px;
  
  margin-top: 2px;
  margin-right: 2px;
  line-height: 18px;
  padding: 2px;
}

.share-user-list-icon.accepted {
  background: #67AE3F;
  background: -moz-linear-gradient(top,#77BB4E,#57A02F);
  background: -o-linear-gradient(top,#77BB4E,#57A02F);
  background: -webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));
  border: 1px solid #3F980E;
}

.share-user-list-information {
  padding-left: 5px;
  overflow: visible;
  white-space: nowrap;
  color: #FFF;
}

.share-user-list-information > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 3px;
}

.dropdown:hover > ul {
  display: block;
}

#table-view {
  display: block;
}

#story-view {
  display: none;
}

table .task-type{width: 25%;}

table .black{color:#000;border-bottom-color:#000;}
table .task-type.black{background-color:#929292;}
table .task-type.blue{background-color:#ade6fe;}
table .task-type.green{background-color:#cdeacd;}
table .task-type.red{background-color:#f4c8c5;}
table .task-type.yellow{background-color:#fff6d9;}
table .task-type.orange{background-color:#fee9cc;}
table .task-type.purple{background-color:#e2d5f0;}

table .header::after{
  display: none;
}

table td.wall{vertical-align: top; background-color: #EEE;}
table td.wall.over{background-color: #CCC;}

.application-modal {display:none;}
.task-modal {display: none;}
.task-modal .input {margin-left: 0px}
.task-modal textarea {width:500px}

.task, .story {
  background-image: none;
  background-color: #fdf5d9;
  padding: 14px;
  border-color: #fceec1;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 90%;
}

.task.own, .story.own {
  background-color: #edfdd9;
}

.task h5, .story h5 {line-height: 18px;}
.task div, .story div {
  margin-top: 5px;
  margin-bottom: 2px;
  overflow: hidden;
}
.task .btn, .story .btn {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.task .close, .story .close {
  display: none;
  float: right;
  margin-top: -2px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.task:hover .close, .story:hover .close {
  display: block;
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.task p, .story p {margin-right: 30px;}

.task small, .story small {
  text-align: left;
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding-top: 2px;
  color: #BBBBBB;
}

.highlight {
  color: black;
  background-color: orange;
}

div.task-detail, div.story-detail {
  margin-bottom: 20px;
}

div.task-actions, div.story-actions {
  float: right;
  width: 30px;
}
div.task-actions a, div.story-actions a {
  margin-left: auto;
  margin-right: auto;
}

ul.story-children {
  margin-top: 5px;
  margin: 5px 0px 0px 0px;
}

.story-children li {
  list-style: none;
  margin-bottom: 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #EEDC94;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  
  padding: 4px 0px 2px 10px;
}

.story-children li a {
  text-decoration: none;
  color: black;
}

.story-children li.inprogress {
  background-color: #0064CD;
  
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
}

.story-children li.inprogress a {
  color: white;
}

.story-children li.verify {
  background-color: #EEDC94;
  
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
}

.story-children li.verify a {
  color: black;
}

.story-children li.done {
  background-color: #57A957;
  
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
}

.story-children li.done a {
  color: white;
}

